(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "core",
                "BRU_i",
            ],
            id: Wellen((5)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (51),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (50),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (37),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (38),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (40),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (41),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (42),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (43),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (44),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "alu_op",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "alu_op [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[1]",
                    id: Wellen((119)),
                ),
                color: None,
                background_color: None,
                display_name: "[1] [31:0]",
                display_name_type: Unique,
                manual_name: Some("x1 ra"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (48): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "ls_op",
                    id: Wellen((23)),
                ),
                color: None,
                background_color: None,
                display_name: "ls_op [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[7]",
                    id: Wellen((125)),
                ),
                color: None,
                background_color: None,
                display_name: "[7] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (49): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "instr_f",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "instr_f [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("RV32"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[15]",
                    id: Wellen((133)),
                ),
                color: None,
                background_color: None,
                display_name: "[15] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (50): Group((
                name: "Regfile",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "br_op",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "br_op [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "rst",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (47): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[4]",
                    id: Wellen((122)),
                ),
                color: None,
                background_color: None,
                display_name: "[4] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[13]",
                    id: Wellen((131)),
                ),
                color: None,
                background_color: None,
                display_name: "[13] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[14]",
                    id: Wellen((132)),
                ),
                color: None,
                background_color: None,
                display_name: "[14] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "is_imm",
                    id: Wellen((25)),
                ),
                color: None,
                background_color: None,
                display_name: "is_imm",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "instr_f",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "instr_f [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[11]",
                    id: Wellen((129)),
                ),
                color: None,
                background_color: None,
                display_name: "[11] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[9]",
                    id: Wellen((127)),
                ),
                color: None,
                background_color: None,
                display_name: "[9] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[8]",
                    id: Wellen((126)),
                ),
                color: None,
                background_color: None,
                display_name: "[8] [31:0]",
                display_name_type: Unique,
                manual_name: Some("x8 s0"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "BRU_i",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "PC",
                    id: Wellen((60)),
                ),
                color: None,
                background_color: None,
                display_name: "PC [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[2]",
                    id: Wellen((120)),
                ),
                color: None,
                background_color: None,
                display_name: "[2] [31:0]",
                display_name_type: Unique,
                manual_name: Some("x2 sp"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[5]",
                    id: Wellen((123)),
                ),
                color: None,
                background_color: None,
                display_name: "[5] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[6]",
                    id: Wellen((124)),
                ),
                color: None,
                background_color: None,
                display_name: "[6] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[3]",
                    id: Wellen((121)),
                ),
                color: None,
                background_color: None,
                display_name: "[3] [31:0]",
                display_name_type: Unique,
                manual_name: Some("x3 gp"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[12]",
                    id: Wellen((130)),
                ),
                color: None,
                background_color: None,
                display_name: "[12] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "core",
                            "regfile_i",
                            "regs",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "[10]",
                    id: Wellen((128)),
                ),
                color: None,
                background_color: None,
                display_name: "[10] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 51,
        viewports: [
            (
                curr_left: (0.0019459038285470857),
                curr_right: (0.005168492607621212),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            417,
        ])),
        markers: {},
        focused_item: Some((7)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (7),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)